html {
  box-sizing:
  font-family: arial;
  background-color: indigo;

}

/*chat container*/
.chat-box {
  width: 300px;
  float: right;
  height: 75%;

}

.header {
  background-color: lightgray;


}

.chats {
  background-color: lightgray;
  border-color: lightblue;
  border: 2px solid #dedede
}

.chats-left {
  border-color: #ccc;
  border: 2px solid #dedede;
  background-color: Blue;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;

}

.chats-right {
  border-color: #ccc;
  background-color: lightblue;
  border: 2px solid #dedede;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.input {

}

.text {


}
